.color-container {
    display: table;
    margin-top: 20px;
    background-color: black;
    padding: 10px;
}

.colorpack {
    /*outline: 1px solid #ccc; */
    padding: 5px; 
    margin: 5px; 
    border-radius: 10%;
    background-color: white;
}

.color-image {
    height: 120px;
    display: table-cell;
    vertical-align: middle;
}

.colorpack-1:hover {
    overflow: visible;
			box-shadow:
				0px 0px 30px white,
				0px 0px 30px white,
				0px 0px 30px white,
				0px 0px 30px white,
				0px 0px 55px blue,
				0px 0px 75px blue,
				0px 0px 95px blue
					!important;
			transform: scale(1.1,1.1) translateY(-5px);
			transition: box-shadow .5s !important;
}

.colorpack-2:hover {
    overflow: visible;
			box-shadow:
					0px 0px 30px white,
					0px 0px 30px white,
					0px 0px 30px white,
					0px 0px 30px white,
					0px 0px 55px orange,
					0px 0px 75px orange,
					0px 0px 95px orange
					!important;
			transform: scale(1.1,1.1) translateY(-5px);
			transition: box-shadow .5s !important;
}

.colorpack-3:hover {
    overflow: visible;
			box-shadow:
					0px 0px 30px white,
					0px 0px 30px white,
					0px 0px 30px white,
					0px 0px 30px white,
					0px 0px 55px red,
					0px 0px 75px red,
					0px 0px 95px red
					!important;
			transform: scale(1.1,1.1) translateY(-5px);
			transition: box-shadow .5s !important;
}

.colorpack-4:hover {
    overflow: visible;
			box-shadow:
					0px 0px 30px white,
					0px 0px 30px white,
					0px 0px 30px white,
					0px 0px 30px white,
					0px 0px 55px #7FFF00,
					0px 0px 75px #7FFF00,
					0px 0px 95px #7FFF00
					!important;
			transform: scale(1.1,1.1) translateY(-5px);
			transition: box-shadow .5s !important;
}